<h2>Super Rentals Announcements</h2>

{{#link-to 'index'}}Home{{/link-to}}
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact us{{/link-to}}
{{#link-to 'announcements'}}Announcements{{/link-to}}
